<h2>Sign up</h2>
<div class="row">
  <div class="medium-4 columns">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="medium-1 columns"></div>

  <div class="medium-7 columns general-cta">
    <ul>

      <div class="row">
        <div class="small-2 columns">
          <li class="text-right"></li>
        </div>
        <div class="small-10 columns">
          <h3 class="cta-heading">Ruby Book Reviews</h3>
        </div>
      </div>

      <div class="row">
        <div class="small-2 columns">
          <li class="text-right"><%= image_tag('checked.svg', size: "50") %></li>
        </div>
        <div class="small-10 columns">
          <p>Add books about the Ruby programming language</p>
        </div>
      </div>

      <div class="row">
        <div class="small-2 columns">
          <li class="text-right"><%= image_tag('checked.svg', size: "50") %></li>
        </div>
        <div class="small-10 columns">
          <p>Find the right books about Ruby to help advance your career</p>
        </div>
      </div>

      <div class="row">
        <div class="small-2 columns">
          <li class="text-right"><%= image_tag('checked.svg', size: "50") %></li>
        </div>
        <div class="small-10 columns">
          <p>Share your knowledge with others and help them in their coding journey</p>
        </div>
      </div>
    </ul>
  </div>
</div>
