<%= simple_form_for(@book) do |f| %>

  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :title, required: true, autofocus: true %>
    <%= f.input :author, required: true %>
    <%= f.input :description, as: :text, required: true, autofocus: true %>
    <%= f.input :cover_photo, type: :file %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Book" %>
  </div>
<% end %>
