<h1>Ruby Book Review</h1>

<h2><%= link_to "Add a New Book", new_book_path %></h2>

<ul>
  <% @books.each do |book| %>
    <li id="<%= dom_id(book) %>"><%= link_to "#{book.title}", book_path(book) %> by <%= book.author %></li>
  <% end %>
</ul>

<%= paginate @books %>
