<div class="row">

  <div class="large-4 medium-6 small-12 columns">
    <%= image_tag @cover_photo, class: "book-show" if @book.cover_photo? %>
    <ul class="menu">
      <% if user_signed_in? %>
        <li><%= link_to "Edit Book", edit_book_path(@book), class: "edit-book" %></li>
      <% end %>
      <% if @rank %>
        <li><%= link_to "Edit Rank", edit_book_rank_path(@book, @rank) %></li>
        <li><%= link_to "Delete Rank", book_rank_path(@book, @rank), method: :delete %></li>
      <% else %>
      <li><%= link_to "Rank Book", new_book_rank_path(@book.id)%></li>
      <% end %>
    </ul>
  </div>

  <div class="large-8 medium-6 small-12 columns book-details">
    <h3><%= @book.title %></h3>
    <h4><%= @book.author %></h4>
    <p><%= @book.description %></p>
    <% if @book.ranks == [] %>
      <h6>There is no average ranking for this book</h6>
    <% else %>
      <h5>Average Ranking: <%= @book.average_rank %></h5>
    <% end %>
  </div>

</div>

<% if @best_review %>
  <div id="best-book-review">
    <h2>Best Book Review</h2>
    <p>Title: <%= @best_review.title %></p>
    <p>Description: <%= @best_review.description %></p>
  </div>
<% end %>

<%= render "reviews/show_reviews" %>

<%= render 'reviews/form' %>
