<h1><%= @book.title %></h1>

<% if user_signed_in? %>
  <%= link_to "Edit Book", edit_book_path(@book) %>
<% end %>

<ul>
  <li>Author: <%= @book.author %></li>
  <li>Description: <%= @book.description %></li>
</ul>

<h2>Book Reviews</h2>
<table>
  <tr>
    <th>Created By:</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @user_first_name %></td>
  <% @book.reviews.each do |review| %>
    <td><%= review.title %></td>
    <td><%= review.description %></td>
  <% end %>
  </tr>
</table>

<h2>Add a Review:</h2>
<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
<div class="form-inputs">
  <%= f.input :title, required: true, autofocus: true %>
  <%= f.input :description, as: :text, required: true, autofocus: true %>
</div>

<div class="actions">
  <%= f.submit "Submit Review" %>
</div>
<% end %>
