<h1><%= @book.title %></h1>

<%= image_tag @book.cover_photo.path if @book.cover_photo? %><br>

<% if user_signed_in? %>
  <%= link_to "Edit Book", edit_book_path(@book) %>
<% end %>

<ul>
  <li>Author: <%= @book.author %></li>
  <li>Description: <%= @book.description %></li>
  <% if @book.rankings == [] %>
    <li>There is no average ranking for this book</li>
  <% else %>
    <li>Average Ranking: <%= @book.average_rank %></li>
  <% end %>
</ul>

<ul>
  <% if @rank %>
    <li><%= link_to "Edit Rank", edit_book_rank_path(@book, @rank) %></li>
    <li><%= link_to "Delete Rank", book_rank_path(@book, @rank), method: :delete %></li>
  <% else %>
  <li><%= link_to "Rank Book", new_book_rank_path(@book.id)%></li>
  <% end %>
</ul>

<h2>Book Reviews</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  <thead>

  <tbody>
    <% @reviews.each do |review| %>
    <tr id="<%= dom_id(review) %>">
      <td><%= link_to "Edit", edit_book_review_path(@book, review) %></td>
      <td><%= review.title %></td>
      <td><%= review.description %></td>
      <td><%= link_to "Vote", new_review_vote_path(review) %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<%= paginate @reviews %>


<h2>Add a Review:</h2>
<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
  <div class="form-inputs">
    <%= f.input :title, required: true, autofocus: true %>
    <%= f.input :description, as: :text, required: true, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Review" %>
  </div>
<% end %>
