<h1>Vote for <%= @review.title %></h1>

<p id="voting-status">Voting Status: <%= @voting_status %> </p>

<% if @voting_status == "None" %>
<h2>Create a New Vote</h2>
<%= link_to "Up Vote", review_votes_path(@review, up_vote: true, down_vote: false), method: :post %>
<%= link_to "Down Vote", review_votes_path(@review, up_vote: false, down_vote: true), method: :post %>
<% end %>

<% if @voting_status != "None" %>
<h2>Edit Your Vote</h2>
<%= link_to "Up Vote", review_vote_path(@review, @vote, up_vote: true, down_vote: false), method: :patch %>
<%= link_to "Down Vote", review_vote_path(@review, @vote, up_vote: false, down_vote: true), method: :patch %>
<%= link_to "Delete Vote", "#"%>
<% end %>
